# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

#temp files
temp.rmd
temp.html
temp.Rmd

#ignore the data files
anage_data.txt
carnivores.tre
CatTrait.csv
CatTree.nex
CatTree.tre
COMADRE_v.1.0.0.RData
COMPADRE_Nov_12_2014_Version_3.1.RData
E090-184-metadata.html
mammalsupertree.nex
MyTrees.tre
nexusexample.nex
PanTHERIA_1-0_WR05_Aug2008.txt

_cache/*
