<li><a href="Introduction.html">Introduction</a></li>

<li class="dropdown-header">Basics</li>
<li><a href="readingdata.html">Reading data</a></li>
<li><a href="manipulatingtrees.html">Manipulating Trees</a></li>
<li><a href="plottingtrees.html">Plotting Trees</a></li>
<li><a href="phylogeneticsignal.html">Phylogenetic Signal</a></li>


<li class="dropdown-header">Exercises</li>
<li><a href="exercises.html">Exercises</a></li>
<li><a href="signal.html">Signal in Demographic Traits</a></li>

<li class="dropdown-header">More</li>
<li><a href="usefulfunctionsanddata.html">Useful stuff</a></li>
